
/* .......import font-family Roboto............*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500&family=Titillium+Web:ital@0;1&display=swap');


*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input, button, textarea {font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0; border:0;}
a, a:visited {text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1, h2, h3, h4, h5, h6{font-size: inherit; font-weight: 400;}


body {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    background:  #EEEFF1;
    font-style: normal;
}

/*.................................................*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/*.................................................*/
._container {
    max-width: 1150px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}
/*.....BUTTON.....................*/
.button{
    background: #34547A;
    min-height: 65px;
    justify-content: center;
    align-items: center;
    padding: 25px 41px;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 162%;
    transition: all 0.3s ease 0s;
}
.button:hover{
    background: #2d4360;
    
}


/*......HEADER.....................................*/

.header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background: #E5E5E5;
}

.header__container{
    display: flex;
    min-height: 60px;
    align-items: center;
}

.header__logo{
    
}

.header__menu{
    margin-left: 398px;
}

.menu{
    padding: 57px 0;
}
.menu__list{
    display: flex;
    flex-wrap: wrap;
}
.menu__item:not(:first-child){
    margin-left: 42px;
}
.menu__link{
    text-transform: uppercase;
    line-height: 162%;
    color: #000000;
    letter-spacing: 0.1em;
}

.menu__link:hover{
    font-weight: 500;
    color: #34547A;
    letter-spacing: 0.1em;
}

/*......................MAIN-BLOCK.................*/
.main-block{
    background: #E5E5E5;
}
.main-block__body{
    display: flex;
    padding: 166px 0 146px 0;
    margin-left: 60px;
}

.main-block__image{
   flex: 0 0 328px;
   object-fit: cover;
   padding-top: 22px;
}
.main-block__content {
    flex: 1 1 auto;
    padding: 0 0 0 142px;
}
.main-block__content > *:not(:last-child){
    margin: 0px 0px 60px 0px;
}

.main-block__title{
    font-weight: 500;
    font-size: 48px;
    
}
.main-block__text{
    color: #727272;
    line-height: 162%;
}

