/* .......import font-family Roboto............*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500&family=Titillium+Web:ital@0;1&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  background: #ffffff;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
/*.................................................*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/*.................................................*/
.content-limiter {
  max-width: 1190px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
/*.....BUTTON.....................*/
.button {
  background: #34547a;
  min-height: 65px;
  justify-content: center;
  align-items: center;
  padding: 25px 41px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 162%;
  transition: all 0.3s ease 0s;
}
.button:hover {
  background: #2d4360;
}
/*..........TEXT-BLOCK...........................*/
.text-block {
  text-align: center;
}
.text-block__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 119%;
  margin: 0px 0px 50px 0px;
}
.text-block__description {
  color: #727272;
  line-height: 162%;
}
@media (max-width: 991px) {
  .text-block__title {
    margin: 0px 0px 42px 0px;
  }
}
@media (max-width: 620px) {
  .text-block__description {
    max-width: 400px;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .text-block__description {
    max-width: 323px;
    margin: 0 26px;
  }
}

/*......HEADER.....................................*/
.app-header {
  background-color: #eeeff1;
}

.app-header__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

@media (max-width: 1279px) {
  .app-header__logo-link {
    margin-left: 19px;
  }
}
.app-header__logo-image {
  /*height: 38px; */
}
.app-header__links-container {
  display: flex;
  gap: 42px;
}
@media (max-width: 767px) {
  .app-header__links-container {
    display: none;
  }
}

.app-header__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: inherit;
}
.app-header__link--active {
  color: #34547a;
}
/*......................MAIN-BLOCK.................*/
.page-main-block {
  background-color: #eeeff1;
}
.page-main-block__content-wrapper {
  padding: 166px 0 146px 96px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .page-main-block__content-wrapper {
    padding: 116px 0 146px 96px;
  }
}
.page-main-block__body {
  display: flex;
  gap: 142px;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .page-main-block__body {
    gap: 60px;
  }
}

.page-main-block__image {
  padding-top: 22px;
}

.page-main-block__image img {
  object-fit: cover;
  height: auto;
  width: 100%;
  max-width: 357px;
}
.page-main-block__content {
  /*flex: 1 1 auto; */
  /* padding: 0 0 0 142px;*/
}
.page-main-block__content > *:not(:last-child) {
  margin: 0px 0px 60px 0px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .page-main-block__content > *:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .page-main-block__content-wrapper {
    padding: 116px 0 146px 96px;
  }
}

.page-main-block__title {
  font-weight: 500;
  font-size: 48px;
}

@media (max-width: 992px) {
  .page-main-block__title {
    font-size: 36px;
    line-height: 100%;
  }
  br {
    display: none;
  }
  .page-main-block__content-wrapper {
    padding: 80px 0 95px 96px;
  }
}

.page-main-block__text {
  color: #727272;
  line-height: 162%;
  max-width: 540px;
}
@media (max-width: 767px) {
  .page-main-block__body {
    flex-wrap: wrap;
    gap: 51px;
    justify-content: center;
  }
  .page-main-block__content > *:not(:last-child) {
    margin: 0px 0px 44px 0px;
  }
  .page-main-block__content-wrapper {
    padding: 17px 0 95px 80px;
  }
  .page-main-block__image {
    padding-top: 0;
  }
  .page-main-block__content {
    text-align: center;
    max-width: 450px;
  }
}
@media (max-width: 480px) {
  .page-main-block__content-wrapper {
    padding: 17px 0 95px 0px;
    margin: 0 36px;
  }
  .page-main-block__title {
    max-width: 302px;
  }
  .page-main-block__text {
    max-width: 322px;
  }
}
@media (max-width: 374px) {
  .page-main-block__title {
    font-size: 30px;
  }
  .page-main-block__body {
    gap: 30px;
  }
  .page-main-block__content > *:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 320px) {
  .page-main-block__title {
    font-size: 25px;
  }
}
/*...............ABOUT.......................*/
.page-about__content-wrapper {
  padding: 119px 0 100px 0;
  max-width: 540px;
}
@media (min-width: 992px) and (max-width: 1279px) {
  .page-about__content-wrapper {
    padding: 109px 0 90px 0;
  }
}
@media (max-width: 991px) {
  .page-about__content-wrapper {
    padding: 91px 0 82px 0;
  }
}
@media (max-width: 480px) {
  .page-about__content-wrapper {
    padding: 91px 0 82px 0;
  }
}

/*.........Projects.........................*/

.page-projects {
  background: #34547a;
}
.page-projects__content-wrapper {
  padding: 100px 0;
}
.page-projects__items-container {
  display: flex;
  gap: 49px;
  justify-content: center;
}
@media (max-width: 1279px) {
  .page-projects__items-container {
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media (max-width: 992px) {
  .page-projects__content-wrapper {
    padding: 75px 0;
  }
  .page-projects__item {
    flex: 0 1 25%;
  }
  .page-projects__items-container {
    gap: 57px;
  }
}
@media (max-width: 320px) {
  .page-projects__content-wrapper {
    padding: 50px 0;
  }
  .page-projects__items-container {
    gap: 30px;
  }
  .page-projects__item {
    flex: 0 1 50%;
  }
}

/*......SKILLS........................................ */
.page-skills {
  padding: 102px 0;
}
.page-skills__body {
  display: flex;
  align-items: flex-start;
  gap: 150px;
}

.page-skills__image img {
  object-fit: cover;
  height: auto;
  width: 100%;
  max-width: 555px;
}
.page-skills__content {
  flex: 1 1 auto;
  padding: 102px 0 0 0;
}

.page-skills__header .text-block__title {
  text-align: start;
}
.page-skills-item__subtitle {
  color: #727272;
  margin: 0px 0px 54px 0px;
}

.page-skills-item__level {
  position: relative;
}
.page-skills-item__level::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  background: #34547a;
  width: 349px;
  height: 4px;
}
.page-skills-item__level::after {
  content: "";
  position: absolute;
  left: 349px;
  top: -40px;
  background: #c4c4c4;
  width: 95px;
  height: 4px;
}

@media (max-width: 1279px) {
  .page-skills__body {
    flex-wrap: wrap;
  }
}
@media (max-width: 1045px) {
  .page-skills-item__level::before {
    width: 266px;
  }
  .page-skills-item__level::after {
    left: 266px;
    width: 73px;
  }
}
@media (max-width: 935px) {
  .page-skills__body {
    flex-direction: column-reverse;
    gap: 98px;
  }
  .page-skills__content {
    padding: 0;
    margin: 0 auto;
  }
  .page-skills__image {
    margin: 0 auto;
  }
  .page-skills__container {
    margin: 0 -65px;
  }
}
@media (max-width: 760px) {
  .page-skills {
    padding: 82px 0px 103px 0px;
  }
}
@media (max-width: 480px) {
  .page-skills__container {
    margin: 0 -74px;
  }
}
@media (max-width: 345px) {
  .page-skills-item__level::before {
    width: 232px;
  }
  .page-skills-item__level::after {
    left: 232px;
    width: 48px;
  }
  .page-skills__container {
    margin: 0 -60px;
  }
}
@media (max-width: 320px) {
  .page-skills-item__level::before {
    width: 232px;
  }
  .page-skills-item__level::after {
    left: 232px;
    width: 48px;
  }
  .page-skills__container {
    margin: 0 -47px;
  }
}

/*...........VIDEO..................................*/
.page-process {
  padding: 100px 0;
  background-color: #eeeff1;
}
.page-process__header {
  padding-bottom: 57px;
}
.process-video__container {
  position: relative;
  display: block;
}
.process-video__image {
  position: relative;
  display: block;
}
.process-video__image img {
  object-fit: cover;
  height: auto;
  width: 100%;
}
.process-video__overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 32px;
  transition: opacity 1s ease-in-out;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
  background-size: cover;
}
.process-video__container:hover .process-video__overlay {
  opacity: 1;
}

.process-video__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
}
.process-video__icon img {
  object-fit: cover;
  height: auto;
  width: 100%;
  max-width: 100px;
}

@media (max-width: 1279px) {
  .page-process {
    padding: 93px 0;
  }
}
@media (max-width: 760px) {
  .process-video__icon img {
    max-width: 75px;
  }
}

/*.........PAGE-WORKS............................*/
.page-works {
  background-color: #fff;
  display: block;
  padding: 28px 0;
}

.page-works__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.page-works__item {
  flex: 0 1 480px;
  display: block;
  position: relative;
}
.page-works__overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 32px;
  transition: opacity 1s ease-in-out;
  background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
}

.page-works__item:hover .page-works__overlay {
  opacity: 1;
}
.page-works__icon {
  cursor: pointer;
}

/*.......PAGE-FORM.............................*/
.page-contacts {
  padding: 100px 16px;
  background-color: #eeeff1;
}
.page-contacts__form {
  max-width: 540px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 65px 0;
  margin: 0 auto;
}
.page-contacts__form input {
  padding: 0 20px;
}
.page-contacts__form textarea {
  padding: 17px 20px;
}
.page-contacts__name {
  height: 50px;
  flex: 0 1 210px;
}
.page-contacts__email {
  height: 50px;
  flex: 0 1 210px;
}
.page-contacts__message {
  width: 540px;
  height: 175px;
  flex: 1 1 100%;
  margin-top: -10px;
  resize: none;
}

.page-contacts__button {
  margin: 0 auto;
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: 0.15em;
  line-height: 164%;
  padding: 20px 19px;
  width: 190px;
  height: 55px;
}

/*.......APP-FOOTER.....................*/
.app-footer {
  padding: 50px 90px;
  background: #34547a;
}
.app-footer__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-footer__left {
  color: #ffffff;
}
.app-footer__name {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 21px;
  line-height: 119%;
}
.app-footer__copy {
  font-size: 13px;
  line-height: 162%;
}
.app-footer__socials {
  display: flex;
  align-items: center;
}
.app-footer__social:not(:last-child) {
  margin: 0px 22px 0px 0px;
}
