/* .......import font-family Roboto............*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500&family=Titillium+Web:ital@0;1&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  background: #FFFFFF;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
/*.................................................*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/*.................................................*/
.content-limiter {
  max-width: 1190px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
/*.....BUTTON.....................*/
.button {
  background: #34547a;
  min-height: 65px;
  justify-content: center;
  align-items: center;
  padding: 25px 41px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 162%;
  transition: all 0.3s ease 0s;
}
.button:hover {
  background: #2d4360;
}
/*..........TEXT-BLOCK...........................*/
.text-block {
  text-align: center;
}
.text-block__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 119%;
  margin: 0px 0px 50px 0px;
}
.text-block__description {
  color: #727272;
  line-height: 162%;
}
/*......HEADER.....................................*/
.app-header {
  background-color: #EEEFF1;
}

.app-header__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.app-header__logo-link {}

.app-header__logo-image {
  height: 38px;
}
.app-header__links-container {
  display: flex;
  gap: 42px;
}

.app-header__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: inherit;
}
.app-header__link--active {
  color: #34547A;
}
/*......................MAIN-BLOCK.................*/
.page-main-block  {
  background-color: #EEEFF1;
}
.page-main-block__content-wrapper{
  padding: 166px 0 146px 96px;
}
.page-main-block__body{
  display: flex;
  gap: 142px;
  justify-content: space-between;
}

.page-main-block__image {
  /*flex: 0 0 328px; */
  object-fit: cover;
  padding-top: 22px;
}
.page-main-block__content {
  /*flex: 1 1 auto; */
  /* padding: 0 0 0 142px;*/
}
.page-main-block__content > *:not(:last-child) {
  margin: 0px 0px 60px 0px;
}

.page-main-block__title {
  font-weight: 500;
  font-size: 48px;
}
.page-main-block__text {
  color: #727272;
  line-height: 162%;
  max-width: 540px;
}
/*...............ABOUT.......................*/
.page-about__content-wrapper {
  padding: 119px 0 100px 0;
  max-width: 540px;
}

/*.........Projects.........................*/

.page-projects  {
  background: #34547a;
}
.page-projects__content-wrapper {
  padding: 100px 0;
}
.page-projects__items-container{
  display: flex;
  gap: 49px;
}

/*......SKILLS........................................ */
.page-skills {
  padding: 102px 0;
}
.page-skills__body {
  display: flex;
  align-items: flex-start;
}
.page-skills__content {
  flex: 1 1 auto;
  padding: 102px 150px 0 0;
}

.page-skills__header .text-block__title {
  text-align: start;
}
.page-skills-item__subtitle {
  color: #727272;
  margin: 0px 0px 54px 0px;
}

.page-skills-item__level {
  position: relative;
}
.page-skills-item__level::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  background: #34547a;
  width: 349px;
  height: 4px;
}
.page-skills-item__level::after {
  content: "";
  position: absolute;
  left: 349px;
  top: -40px;
  background: #c4c4c4;
  width: 95px;
  height: 4px;
}

/*...........VIDEO..................................*/
.page-process {
  padding: 100px 0;
  background-color: #EEEFF1;
}
.page-process__header{
  padding-bottom: 57px;
}
.process-video__container {
  display: block;
  background: url(../img/process/video.png) no-repeat;
  height: 600px;
  width: 1110px;
  position: relative;
  background-size: cover;
}
.process-video__overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 32px;
  transition: opacity 1s ease-in-out;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/process/video.png) no-repeat;
  background-size: cover;
}
.process-video__container:hover .process-video__overlay {
  opacity: 1;
}

.process-video__icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;

}

/*.........PAGE-WORKS............................*/
.page-works {
  background-color: #fff;
  display: block;
  padding: 28px 0;
}

.page-works__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.page-works__item {
  flex: 0 1 480px;
  display: block;
  position: relative;
}
.page-works__overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 32px;
  transition: opacity 1s ease-in-out;
  background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8))
}

.page-works__item:hover .page-works__overlay {
  opacity: 1;
}
.page-works__icon {
  cursor: pointer;
}






